* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    outline: none;
}

body {
    background: linear-gradient(to right, #151515bb, #000000);
    color: #fff;
}

.logo-img {
    width: 325px;
    display: block;
    margin: 20px auto;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

main {
    width: 375px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 44px 24px 23px;
    margin: 0 auto;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select,
.input-currency {
    background: #ffffff;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

.input-currency {
    cursor: text;
}

.convert-on-click {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(to right, #151515bb, #000000);
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section{
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency{
    color: #777777;
    font-size: 14px;
}

.currency-daMoeda, .currency-paraMoeda{
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}
